* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 2rem;
}

.container {
    width: 60%;
    text-align: center;
    margin: 100px auto;
    border: 1px solid lightblue;
    padding: 5px 20px;
}

h1 {
    margin: 30px 0;
    font-size: unset;
}

p {
    border: 0px solid black;
    height: 50px;
}

input, select {
    height: 40px;
}

input[type="button"] {
    background-color: lightgreen;
    border-radius: 5px;
    width: 200px;
    border: 0px;
}
